.lesson-main-point {
    background-color: #8c8c8c;
    padding: 20px;
}
.lesson-qa {
    background-color: #adadad;
    padding: 20px;
}
.footer {
    background-color: #8c8c8c;
    padding-top: 30px;
}
.lesson-footer {
    max-width:460px;
    margin:auto;
}


