<div id="content">

    <div class="lesson-main-point">
        <div class="container">
            <h2>Login</h2>
            <h3>Choose one of these login methods</h3>
        </div>
    </div>

    <div class="question-answer lesson-qa">
        <div ng-controller="LoginController as model" class="answers" id="accordion">

            <uib-accordion close-others="model.oneAtATime">

                <uib-accordion-group is-open="model.status.isFirstOpen">
                    <uib-accordion-heading>
                        <div class="line">
                            Social Media Login <i class="pull-right fa"
                                                  ng-class="{'fa-minus': model.status.isFirstOpen, 'fa-plus': !model.status.isFirstOpen}"></i>
                        </div>
                    </uib-accordion-heading>
                    <div class="text-center">
                        <button ng-click="" class="btn btn-default btn-social w300 center-block"><i
                                class="fa fa-facebook"></i> | Connect with Facebook
                        </button>
                        <button ng-click="" class="btn btn-default btn-social w300 center-block"><i
                                class="fa fa-google-plus"></i> | Connect with Google Plus
                        </button>
                        <button ng-click="" class="btn btn-default btn-social w300 center-block"><i
                                class="fa fa-key"></i> | Connect with The Key
                        </button>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group is-open="model.status.isSecondOpen">
                    <uib-accordion-heading>
                        <div class="line">
                            Username&Password <i class="pull-right fa"
                                                 ng-class="{' fa-minus': model.status.isSecondOpen, 'fa-plus': !model.status.isSecondOpen}"></i>
                        </div>
                    </uib-accordion-heading>
                    <form class="form" id="ue_pd_fm" novalidate="novalidate">
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder="Username" class="form-control"
                                   required>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password"
                                   class="form-control" required>
                            <small class="help-block" style="display: none;">7 character upper and lower case</small>
                        </div>
                        <div class="text-left">
                            <input type="checkbox" name="remember"> Remember Me
                        </div>
                        <div class="form-group text-center">
                            <input type="button" id="ue_pd_st" value="Login" class="btn btn-default w300">
                        </div>
                    </form>
                    <hr>
                    <p>For password or username recovery, use the "Send Code to Email" button below.&nbsp;<a href>Create
                        a New User</a></p>
                </uib-accordion-group>

                <uib-accordion-group is-open="model.status.isThirdOpen">
                    <uib-accordion-heading>
                        <div class="line">
                            Send Code to Email <i class="pull-right fa"
                                                  ng-class="{'fa-minus': model.status.isThirdOpen, 'fa-plus': !model.status.isThirdOpen}"></i>
                        </div>
                    </uib-accordion-heading>
                    <div class="panel-body" id="send_email">
                        <p>This option sends a code to your email which is used to verify your identity and grant
                            access.</p>
                        <form class="form" id="send_email_form" method="post" novalidate="novalidate">
                            <div class="form-group has-feedback">
                                <label class="sr-only" for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Enter Email Address"
                                       class="form-control" required>

                                <small class="help-block" style="display: none;">The Email is required and cannot be
                                    empty
                                </small>
                                <small class="help-block" style="display: none;">The value is not a valid email
                                    address
                                </small>
                            </div>
                            <div class="form-group text-center">
                                <input type="button" id="send_email_btn" value="Send Code"
                                       class="btn center-block btn-default">
                            </div>
                        </form>
                    </div>
                </uib-accordion-group>

            </uib-accordion>
        </div>
    </div>


</div>